* {
    margin: 0;
    padding: 0;
  }
  
  .nav-container {
    background: rgb(34, 155, 145);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .menu-icon-subcontainer {
    width: 70px;
    background: rgb(34, 155, 145);
    padding: 24px;
    cursor: pointer;
  }
  
  .menu-icon-subcontainer:hover {
    background: rgb(34, 155, 145);
  }
  
  .menu {
    height: 2px;
    background: white;
    width: 20px;
    margin-bottom: 4px;
  }
  
  #menu-items-container {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    background-color: #fcfcfc;
    overflow-x: hidden;
    z-index: 2;
  }
  
  /* .sidenav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  } */
  
  .sidenav-list .sidenav-list-item {
    cursor: pointer;
  }
  
  .sidenav-list .sidenav-list-item:hover {
    background-color: rgb(212, 212, 212);
  }
  
  .sidenav-list a {
    text-decoration: none;
    color: #525151;
    font-weight: bold;
    /* background: green; */
    padding: 16px;
    display: block;
  }
  
  .icon {
    margin: 0 20px;
    /* background: red; */
  }
  
  .profile-image-section {
    background: green;
    padding: 20px;
  }
  
  #profile-image-container {
    width: 80px;
    height: 80px;
  }
  
  #profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .navbar {
    color: white;
    font-size: 17px;
    padding-top: 30px;
    line-height: 25px;
  }
  
  .social-icons {
    margin: 8px 16px 0 0;
  }
  
  @media only screen and (min-width: 1020px) {
    .nav-container {
      display: none;
    }
  
    .nav-menu {
      width: 300px;
      /* background: red; */
    }
  
    #menu-items-container {
      height: 100%;
      width: 280px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
      background: #fcfcfc;
    }
  
    .sidenav-list .sidenav-list-item:hover {
      background-color: rgb(212, 212, 212);
    }
  }
  .svg-inline--fa.fa-w-12 {
    width: 1.75em;
}