.service{
    display: grid;
    grid-template-areas: 'service-card service-card';
}
.service-card{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    margin: 10px 12px 5px 1px;
}
.service-flex{
    display: flex;
}
.faic{
   
    height: 150px;
}
.service-font{
    background-color: #388E3C;
    width: 100px;
    text-align: center;
    color: white;
}
.service-f{
    background-color: #0097a7;
    width: 100px;
    text-align: center;
    color: white;
}
.service-t{
    background-color: #D32F2F;
    width: 100px;
    text-align: center;
    color: white;

}
.service-o{
    background-color: #ffa000;
    width: 100px;
    text-align: center;
    color: white;
}
.service-n{
    background-color: #1976D2;
    width: 100px;
    text-align: center;
    color: white;
}
.service-fo{
    background-color: #7b1fa2;
    width: 100px;
    text-align: center;
    color: white;
}
.svg-inline--fa.fa-w-14 {
    width: 1.875em;
}
.svg-inline--fa.fa-w-10 {
    width: 1.625em;
}
.svg-inline--fa.fa-w-16 {
    width: 1.9em;
}
.svg-inline--fa.fa-w-18 {
    width: 2.125em;
}
.serv-m{
    margin-left: 25px;
}
.serv-m{
    font-size: 18px;
}
.serv-color{
    padding: 12px 24px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    
    width: 101%;
}
 .serv-color{
    color: #868686;
} 

