.pricing{
    display: grid;
    grid-template-areas: 'price-layout price-layout price-layout price-layout';
}
.price-layout{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    margin: 25px 10px 29px 2px;
}
.p-layout{
  text-align: center;
}
.text-decor{
    text-decoration: line-through;
    color: #868686;
    opacity: 0.6;
    font-size: 16px;
    margin: 15px;
    color: black;
}

.font{
    font-size: 25px;
    font-weight: 400;

    
}
.butt-buy{
    width: 125px;
    height: 32px;
    font-size: 15px;
    background-color: #26a69a;
    color: white;
    border: 0;
}
.buy-now{
    margin-top: 12px;
    margin-bottom: 10px;
}
.pr-text{
    margin: 15px;
}