.text{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    padding: 15px;
}
.text p{
    color: #868686;
}
.about-me{
    font-size: 25px;
    color: #616161;
}
.btn{
    background-color:  #26a69a;
    color: white;
    width: 150px ;
    height:35px;
    border: 0;

}
.about-btn{
   margin-top: 25px;
}
.container{
   display: grid;
   grid-template-areas: 'about-layout about-layout';
   margin: 20px 0px;
}
.abt-text{
    float: right;
}
.about-layout{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    margin: 10px 12px 5px 1px;
}
.bottom:last-child{
    border-bottom: none;
}
.bottom{
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    
    padding: 12px;
}
.text-color{
    color: #868686;
}
.spacer{
    height: 28px;
}
.bottom span{
    font-size: 18px;
}
.second{
    border-top: 1px solid rgba(160, 160, 160, 0.2);
   
    padding: 12px;
}
.se-color{
    color: #868686;
}