
.home-back img{
    height: 350px;
    background-position: center center;
    width: 100%;
}
.home-box{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}
.home-image{
    display: flex;
    margin-bottom: 10px;
}
.div-part img{
    border-radius: 50%;
    margin: -57px 0px 0px 18px;
}
.part{
    width:25%;
}
.h-wid{
    width: 16.5%;
}
.home-text{
    font-size: 22px;
}
.home-p{
    color: #9e9e9e;
}
.home-card{
    display: flex;
}
.color-card{
    width: 25%;
}
.color-card{
    
    height: 150px;
    background-color: green;
    text-align: center;
    margin: 20px;
    color: white;
    border-radius: 3px;
}
.fa{
    margin-top: 50px;
}
.fa-text{
    font-size: 24px;
}
.ho-co{
background-color: #ffa000;
}
.card-3{
    background-color: #D32F2F
}
.card-2{
    background-color: #0097a7
}