.port-header ul{
    display: flex;
    padding: 2px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%); 
}
.port-detail li{
    list-style-type: none;
     padding: 0px 24px; 
     color: #ee6e73;
    }
 .port-color{
     float: right;
 }  
 .port-text{
     font-size: 18px;
     line-height: 24px;
     padding: 10px 20px;
 } 
 .mock-color p{
    color: #1976D2; 
    padding:0px 20px;
 }
 .mock-color{
     margin-bottom: 10px;
 }
 .heading{
    margin-top: 15px;
    margin-bottom: 10px;
 }

