.card-content{
    display: flex;
   
}
.card{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    margin: 10px 12px 5px 1px;
}
.card-image img{
    height: 200px;
    width: 100%;
}
.card-title{
   font-size: 22px;
   font-weight: 300px;
}
.card-text{
    text-align: center;
    padding: 10px;
}
.cd-text{
    float: right;
    margin-right: 10px;
    color: #868686;
}
.cd-back{
    background-color: #F44336;
    color: white;
    margin: 10px;
    border-radius: 2px;
    padding: 2px;
    font-size: 15px;
    
}
.card-action{
    margin-bottom: 15px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);

}
.card-text p{
    color: #868686;
}
.view-button{
    text-align: center;
    margin-top: 30px;
}
.view{
    height: 35px;
    width: 115px;
    background-color:#26a69a; ;
    color: white;
    border: 0;
}
.icons{
    float: right;
    background-color: green;
    border-radius: 50%;
    color: white;
    height: 25px;
    padding: 5px 0px;
}
.svg-inline--fa.fa-w-6 {
    width: 2.375em;
}