.contact{
    display: grid;
   grid-template-areas: 'contact-detail contact-detail';
}
.contact-detail{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%); 
     margin: 10px 12px 5px 1px;
}
.con-text{
    float: right;
}
.contact-head{
    font-size: 23px;
    font-weight: 400;
    margin-left: 10px;
    color: #868686;
}
.con-text-color{
    float: right;
    color: #039be5;
}
.contact-ad{
    padding: 12px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.con-input input{
    border: none;
    border-bottom: 0.5px solid #9e9e9e;
    outline: none;
    height: 2rem;
    width: 95%;
    font-size: 1rem;
    margin: 0 0 20px 10px;
   
}
.con-input textarea{
    border: none;
    border-bottom: 0.5px solid #9e9e9e;
    outline: none;
    height: 2rem;
    width: 95%;
    font-size: 1rem;
    margin: 0 0 20px 10px;
   
}
.contact-but{
    height: 30px;
    width: 180px;
    background-color:#26a69a; ;
    color: white;
    border: 0;
    border-radius: 2px;
    margin-bottom: 10px;
}
.con-button{
    margin-left: 10px;
}
.foot-text{
    text-align: center;
}
.foot-text p{
    color: #868686;
}

