.ex-contain{
    display: flex;
    /* grid-template-areas: 'section section'; */
}
.heading p{
    font-size: 30px;
    color: #868686;
}
.b-text{
    float: right;
    color: red;
}
.sub-section{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    margin: 10px 12px 5px 1px;
}
.style{
    padding: 12px;
}
.style p{
     color: #868686; 
     
}
hr{
    width: 102%;
}
.color-text{
    background-color: #D32F2F;
    color: white;
    font-size: 0.8rem;
    margin: 2px 4px;
   
}
.head{
    font-size: 18px;
    font-weight: 400;
}
.faicon{
    background-color: red;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px;
}
